<!-- Earnings (Monthly) Card Example -->
<div class="row" id="booksRow">
    <div class="col-6 p-3">
        <div class="card border-primary  shadow h-100 py-2 py2">
            <div class="card-body" style="text-align: center;">
                <i class="fas fa-book fa-3x text-gray-300"></i>
                <div class="row no-gutters align-items-center" style="padding-top: 10px;">
                    <div class="col mr-2 bookItem">
                        <p class="h6 mb-0 font-weight-bold text-gray-800 mb-1" style="">Análisis de sueños e interpretacion del inconsciente</p>
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Fecha de entrega: 05/10/2019
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-6 p-3">
        <div class="card border-primary  shadow h-100 py-2 py2">
            <div class="card-body" style="text-align: center;">
                <i class="fas fa-book fa-3x text-gray-300"></i>
                <div class="row no-gutters align-items-center" style="padding-top: 10px;">
                    <div class="col mr-2 bookItem">
                        <p class="h6 mb-0 font-weight-bold text-gray-800 mb-1" style="">Análisis de sueños e interpretacion del inconsciente</p>
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Fecha de entrega: 05/10/2019
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-6 p-3">
        <div class="card border-primary  shadow h-100 py-2 py2">
            <div class="card-body" style="text-align: center;">
                <i class="fas fa-book fa-3x text-gray-300"></i>
                <div class="row no-gutters align-items-center" style="padding-top: 10px;">
                    <div class="col mr-2 bookItem">
                        <p class="h6 mb-0 font-weight-bold text-gray-800 mb-1" style="">Análisis de sueños e interpretacion del inconsciente</p>
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Fecha de entrega: 05/10/2019
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-6 p-3">
        <div class="card border-primary  shadow h-100 py-2 py2">
            <div class="card-body" style="text-align: center;">
                <i class="fas fa-book fa-3x text-gray-300"></i>
                <div class="row no-gutters align-items-center" style="padding-top: 10px;">
                    <div class="col mr-2 bookItem">
                        <p class="h6 mb-0 font-weight-bold text-gray-800 mb-1" style="">Análisis de sueños e interpretacion del inconsciente</p>
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Fecha de entrega: 05/10/2019
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-6 p-3">
        <div class="card border-primary  shadow h-100 py-2 py2">
            <div class="card-body" style="text-align: center;">
                <i class="fas fa-book fa-3x text-gray-300"></i>
                <div class="row no-gutters align-items-center" style="padding-top: 10px;">
                    <div class="col mr-2 bookItem">
                        <p class="h6 mb-0 font-weight-bold text-gray-800 mb-1" style="">Análisis de sueños e interpretacion del inconsciente</p>
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Fecha de entrega: 05/10/2019
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-6 p-3">
        <div class="card border-primary  shadow h-100 py-2 py2">
            <div class="card-body" style="text-align: center;">
                <i class="fas fa-book fa-3x text-gray-300"></i>
                <div class="row no-gutters align-items-center" style="padding-top: 10px;">
                    <div class="col mr-2 bookItem">
                        <p class="h6 mb-0 font-weight-bold text-gray-800 mb-1" style="">Análisis de sueños e interpretacion del inconsciente</p>
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Fecha de entrega: 05/10/2019
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-6 p-3">
        <div class="card border-primary  shadow h-100 py-2 py2">
            <div class="card-body" style="text-align: center;">
                <i class="fas fa-book fa-3x text-gray-300"></i>
                <div class="row no-gutters align-items-center" style="padding-top: 10px;">
                    <div class="col mr-2 bookItem">
                        <p class="h6 mb-0 font-weight-bold text-gray-800 mb-1" style="">Análisis de sueños e interpretacion del inconsciente</p>
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Fecha de entrega: 05/10/2019
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script>
    /*
    function getBooks() {
        var session= window.localStorage.getItem("session");
        $.post("https://ticsiipcs.com.mx/api/index.php/getBooks",{
            session: session
        },function (e) {
            var data = JSON.parse(e);
            $("#booksRow").html("");
            $(data).each(function (a,b) {
                $("#booksRow").append("<div class=\"col-xl-3 col-md-6 mb-4\">\n" +
                    "        <div class=\"card border-left-primary shadow h-100 py-2\">\n" +
                    "            <div class=\"card-body\">\n" +
                    "                <div class=\"row no-gutters align-items-center\">\n" +
                    "                    <div class=\"col mr-2\">\n" +
                    "                        <div class=\"h6 mb-0 font-weight-bold text-primary text-uppercase mb-1\">Libro</div>\n" +
                    "                        <div class=\"text-xs font-weight-bold text-gray-800\">fecha libro</div>\n" +
                    "                    </div>\n" +
                    "                    <div class=\"col-auto\">\n" +
                    "                        <i class=\"fas fa-book fa-2x text-gray-300\"></i>\n" +
                    "                    </div>\n" +
                    "                </div>\n" +
                    "            </div>\n" +
                    "        </div>\n" +
                    "    </div>")
            })
        })
    }
    getBooks();*/
</script>